{% block body %}

    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username"/>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="_password"/>
        <br>
        <button type="submit">login</button>
    </form>
{% endblock %}